.user-wrapper {
    height: calc(100% - 48px);
}

.todo-list, .form-group {
    width: 60%;
    overflow: auto;
    margin: 10px auto;
}

.todo-list {
    height: 80%;
}

.form-group input {
    width: 100%
}

clr-checkbox {
    padding: 17px;
    font-size: 1.2rem;
    background: #bdc8d8;
    width: 100%;
    border: 1px solid rgba(0, 16, 128, 0.18);
}

.strike-text {
    text-decoration: line-through;
}